body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainapp{
 font-family: 'Open Sans, sans-serif';
}

.first-letter {
  font-size: 35px;
  line-height: 70px;
  font-weight: bold;
  margin-bottom: 0;
}

::selection {
  background-color: black; 
  color: white;          
}

.some-class::selection {
  background-color: black;
  color: white;
}


@media (max-width: 768px) {
  [data-aos] {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
}
